<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="static/global.css" />
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>
        <div class="LANDING-PAGE">
            <div class="div">
                <div class="boxmain-LP">
                    <div class="content-LP">
                        <p class="intro-text">
                            Welcome to Crypto. Are you ready to start your personalized story to guide you through the complex web3
                            lingo?
                        </p>
                        <a class="button-play" href="/topics"><div class="text-wrapper">Play</div></a>
                    </div>
                </div>
                <div class="boxl-LP">
                    <img src="/static/Icons-Left-LP.png" alt="Icons box right LP">
                </div>
                <div class="boxr-LP">
                    <img src="/static/Icons-Right-LP.png" alt="Icons box right LP">
                </div>
                <div class="boxbotton-LP">
                    <img src="/static/Icons-BocBottom-LP.png" alt="Icons Boc Bottom LP">
                </div>
            </div>
        </div>
    </body>
</html>
