<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="TOPIC-PAGE">
            <div class="div">
                <div class="boxmain-TP">
                    <div class="content-TP">
                        <p class="contenttext-TP">Where do you want<br />to start?</p>
                        <div class="topicsframe-TP">
                            <div class="div-2">
                                <div class="img-wrapper"><img class="img" src="img/image-ETH-TP.png" /></div>
                                <div class="text-wrapper">ETH</div>
                            </div>
                            <div class="div-2">
                                <div class="img-wrapper"><img class="img" src="img/image-block-TP.png" /></div>
                                <div class="text-wrapper">Blockchain</div>
                            </div>
                            <div class="div-2">
                                <div class="img-wrapper"><img class="img" src="img/image-smart-TP.png" /></div>
                                <div class="text-wrapper">Smart contracts</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxleft-back-TP">
                    <img src="ImageFrame-ETH-TP.png" alt="Icons box right LP">
                </div>
                <div class="boxr-TP">
                    <img src="ImageFrame-Block-TP.png" alt="Icons box right LP">
                </div>
                <div class="boxbotton-TP">
                    <img src="ImageFrame-Smart-TP.png" alt="Icons box right LP">

                </div>
            </div>
        </div>
    </body>
</html>
