<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/global.css" />
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div class="TOPIC-PAGE">
            <div class="div">
                <div class="boxmain-TP">
                    <div class="content-TP">
                        <p class="contenttext-TP">Where do you want<br />to start?</p>
                        <div class="topicsframe-TP">
                            <a href="/game/eth" style="text-decoration: none; color: inherit;">
                                <div class="div-2">
                                    <div class="img-wrapper"><img class="img" src="static/ImageFrame-ETH-TP.png" /></div>
                                    <div class="text-wrapper">ETH</div>
                                </div>
                            </a>
                            <a href="/game/blockchain" style="text-decoration: none; color: inherit;">
                                <div class="div-2">
                                    <div class="img-wrapper"><img class="img" src="static/ImageFrame-Block-TP.png" /></div>
                                    <div class="text-wrapper">Blockchain</div>
                                </div>
                            </a>
                            <a href="/game/smartcontracts" style="text-decoration: none; color: inherit;">
                              <div class="div-2">
                                  <div class="img-wrapper"><img class="img" src="static/ImageFrame-Smart-TP.png" /></div>
                                  <div class="text-wrapper">Smart contracts</div>
                              </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="boxleft-back-TP">
                    <img src="/static/Icons-Left-LP.png" alt="Icons box right LP">
                </div>
                <div class="boxr-TP">
                    <img src="/static/Icons-Right-LP.png" alt="Icons box right LP">
                </div>
                <div class="boxbotton-TP">
                    <img src="/static/Icons-BocBottom-LP.png" alt="Icons Boc Bottom LP">

                </div>
            </div>
        </div>
    </body>
</html>
